
<div class="container" ng-controller="CompanyDashboardController">
	<div  class="row notifications"> <!-- class="row notifications" -->
		<div  role="alert">
			<button class="btn btn-default" ng-click="voltar()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			User: {{usernameLogado}} <!-- class="alert alert-info" -->
			<label for="assignment-selected" style="margin-left:150px;">Alocação da empresa {{company.name}}.</label>
			<button class="btn btn-danger float-right" ng-click="logOut()">
				<span class="glyphicon glyphicon-off"></span>
			</button>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-md-4" >
			 <label for="date">Data Inicial</label><label for="date" style="margin-left:143px;">Data Final</label>
		     <p class="input-group">
			     <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="diaInicialSelected" is-open="opened"  datepicker-options="dateOptions"  close-text="Close" ng-change="loadDates()" style="width:100px; margin-right:0px;">
			    	<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)" style="margin-right:80px;"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</input>
			     <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="diaFinalSelected" is-open="openedDataFinal"  datepicker-options="dateOptions"  close-text="Close" ng-change="loadDates()" style="width:100px; display: inline-block;">
			    	<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openDataFinal($event)" style="margin-right:0px;"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</input>
			 </p>
		</div>
		<div class="col-md-2">
			<label for="funcionario-selected">Funcionário</label>
			<select ng-model="funcionarioSelected" class="form-control" ng-options="f.id as f.name for f in opcoesFuncionarios" >
				<option value="">Todos</option>
			</select>
		</div>	
		<div class="col-md-2">
			<label for="funcionario-selected">Projeto</label>
			<select ng-model="projetoSelected" class="form-control" ng-options="p.id as p.name for p in opcoesProjetos" >
				<option value="">Todos</option>
			</select>
		</div>	
		<div class="col-md-3">
			<label for="waiting-approval">Status</label><br>
			<input type="checkbox" ng-model="waitingApproval" style="">
				Aguardando aprovação
			</input>
		</div>	
		<div class="col-md-1">
			<button class="btn btn-primary " ng-click="filter()" style="margin-top: 25px;">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>	

	</div>
	<div class="row worklog"  >

		<div class="row worklog-header">
			<div class="col-md-2 change-day-set"></div>
			<div class="col-md-9">
				<span class="hour-header" ng-repeat="hour in hours" ng-style="{'left': hour.position}">
					{{hour.hour}}
				</span>
			</div>
		</div>

		<div class="row worklog-header">
			<div class="col-md-2 change-day-set"><a class="glyphicon glyphicon-chevron-up"></a></div>
			<div class="col-md-9"  ng-style="{ 'position': 'relative', 'height': '30px'}">
				<div class="hour-block" ng-repeat="hour in hours" ng-style="{ 'width': hourWidth + '%', 'left': hour.position}">
				</div>
			</div>
		</div>
		<div class="row worklog-day" ng-repeat="entry in dateEntries">
				<div class="col-md-2">
					{{entry.date | date:"dd/MM/yyyy"}}
					<div ng-repeat="p in entry.projectData">
						{{p.projeto}}
						<div ng-repeat="user in p.userData">
							{{user.nome}}
						</div>
					</div>
				</div>
				<div class="col-md-9">
						<li class="smallBlock" ng-class="{transparent: 'transparent'}" ng-style="{'width' : '100%'}" >
						</li>
						<li class="smallBlock" ng-class="{transparent: 'transparent'}" ng-style="{'width' : '100%'}" >
						</li>
					<ul ng-repeat="pData in entry.projectData">	
						<ul ng-repeat="uData in pData.userData">

							<li class="smallBlock" ng-class="{transparent: block.color === 'transparent'}" ng-repeat="block in uData.work_blocks" ng-style="{'width' : block.blockWidth + '%', 'background-color' : block.color}" data-toggle="{{block.color === 'transparent' ? '' : 'modal'}}" data-target='#manage-log-modal' data-html="true" data-placement="bottom" ng-click="loadLogManagement(block.id, entry.date)">
							</li>
						</ul>
					</ul>
				</div>

		</div>

		<div class="row last-row">
			<div class="col-md-2 change-day-set"><a class="glyphicon glyphicon-chevron-down"></a></div>
		</div>

	</div>
</div>
<log-management-modal></log-management-modal>