<div class="container" ng-controller="WorklogCtrl">
	<div  class="row notifications"> <!-- class="row notifications" -->
		<div  role="alert">User: {{usernameLogado}} <!-- class="alert alert-info" -->
			<label for="assignment-selected" style="margin-left:60px;">Projetos</label>
			<select ng-model="assignmentSelected" class="" ng-options="a as a.project_name for a in assignments">
			</select>
			<button class="btn btn-default" ng-click="checkProject()">
				Checar Projeto
			</button>
			<label for="assignment-selected" style="margin-left:60px;">Empresas</label>
			<select ng-model="companySelected" class="" ng-options="c as c.name for c in companies">
				
			</select>
			<button class="btn btn-default" ng-click="checkCompany()">
				Checar Empresa
			</button>
			<button class="btn btn-danger float-right" ng-click="logOut()">
				<span class="glyphicon glyphicon-off"></span>
			</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4" >
			 <label for="date">Data Inicial</label><label for="date" style="margin-left:143px;">Data Final</label>
		     <p class="input-group">
			     <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateSelected" is-open="opened"  datepicker-options="dateOptions"  close-text="Close" ng-change="loadDates()" style="width:100px; margin-right:0px;">
			    	<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)" style="margin-right:80px;"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</input>
			     <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateFinalSelected" is-open="openedDataFinal"  datepicker-options="dateOptions"  close-text="Close" ng-change="loadDates()" style="width:100px; display: inline-block;">
			    	<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openDataFinal($event)" style="margin-right:0px;"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</input>
			 </p>
		</div>
		<div class="col-md-2">
			<button class="btn btn-primary float-right margin-top" data-toggle="modal" data-target="#add-modal" ng-click="setCreationMode('new')">
				<span class="badge">
					<span class="glyphicon glyphicon-plus"></span>
				</span> Worklog
			</button>
		</div>	
		<div class="col-md-2">
			<button class="btn btn-primary float-right margin-top" ng-click="createProject()"> 
				<span class="badge">
					<span class="glyphicon glyphicon-plus"></span>
				</span> Projeto 
			</button>
		</div>	
		<div class="col-md-2">
			<button class="btn btn-primary float-right margin-top" ng-click="createCalendar()"> 
				<span class="badge">
					<span class="glyphicon glyphicon-plus"></span>
				</span> Calendário 
			</button>
		</div>					
		<div class="col-md-2">
			<button class="btn btn-primary float-right margin-top" ng-click="createAssignment()"> 
				<span class="badge">
					<span class="glyphicon glyphicon-plus"></span>
				</span> Assignment
			</button>
		</div>	

	</div>

	<div class="row worklog"  >

		<div class="row worklog-header">
			<div class="col-md-2 change-day-set"></div>
			<div class="col-md-9">
				<span class="hour-header" ng-repeat="hour in hours" ng-style="{'left': hour.position}">
					{{hour.hour}}
				</span>
			</div>
		</div>

		<div class="row worklog-header">
			<div class="col-md-2 change-day-set"><a class="glyphicon glyphicon-chevron-up"></a></div>
			<div class="col-md-9"  ng-style="{ 'position': 'relative', 'height': '30px'}">
				<div class="hour-block" ng-repeat="hour in hours" ng-style="{ 'width': hourWidth + '%', 'left': hour.position}">
				</div>
			</div>
		</div>
		<div class="row worklog-day" ng-repeat="day in timeBlocks">
				<div class="col-md-2">
					<button class="btn btn-primary" data-toggle="modal" data-target="#add-modal" ng-click="setCreationMode(day.date)">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					{{day.date | date:"dd/MM/yyyy"}}
				</div>
				<div class="col-md-9">
					<ul>
						
						<li class="block" ng-class="{transparent: block.color === 'transparent'}" ng-repeat="block in day.blocks" ng-style="{'width' : block.blockWidth + '%', 'background-color' : block.color}" 
						data-toggle="{{block.color === 'transparent' ? '' : 'popover'}}" 
						data-html="true" 

    					data-content="<button class='btn btn-primary' data-toggle='modal' data-target='#add-modal' ><span class='glyphicon glyphicon-pencil' ></span></button>
    					<button class='btn btn-primary' data-toggle='modal' data-target='#delete-log-modal' ><span class='glyphicon glyphicon-trash' ></span></button>"
    					data-placement="bottom" popover-directive ng-click='setModalData(day.date, block.id, $element)'>
							<!-- {{block.blockWidth}} -->
						</li>
					</ul>
				</div>

		</div>

		<div class="row last-row">
			<div class="col-md-2 change-day-set"><a class="glyphicon glyphicon-chevron-down"></a></div>
		</div>

		

	</div>
</div>

<work-log-modal></work-log-modal>
<exclui-log-modal></exclui-log-modal>

<script type="text/ng-template" id="popover">
  <ul>
    <li ng-repeat="item in items"><a>{{item.name}}</a></li>
  </ul>
</script>