<div class="modal fade" id="delete-log-modal" ng-controller="deleteLogWorkModalCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Você deseja realmente excluir o log abaixo?</h4>
      </div>
      <div class="modal-body" id="modalDeleteLogWork">
      		<form name="deleteLogworkModalForm" novalidate>
 			<div class="row">
 				<div class="col-md-12">
					<label for="date">Data</label>
		              <input type="text" class="form-control" ng-readonly = "true" value="{{date | date:'dd/MM/yyyy'}}">  </input>
		        </div>
				<div class="col-md-12">
					<label for="assignment-selected">Projeto</label>
					<input type="text" class="form-control" ng-readonly = "true" value="{{worklog.assignment.project_name}}">  </input>
				</div>
		        <div class="col-md-6">
					<label for="init-time">Começo</label>
					<div class="row">
						<input type="text" class="form-control" style="width: 41px; display: inline-block; margin-left: 15px;" ng-readonly = "true" value="{{startHour}}">  </input>:<input type="text" class="form-control" style="width: 41px; display: inline-block;" ng-readonly = "true" value="{{startMinute}}">  </input>
					</div>
				</div>
				<div class="col-md-6">
					<label for="end-time">Final</label>
					<div class="row">
						<input type="text" class="form-control" style="width: 41px; display: inline-block; margin-left: 15px;" ng-readonly = "true" value="{{finishHour}}">  </input>:<input type="text" class="form-control" style="width: 41px; display: inline-block;" ng-readonly = "true" value="{{finishMinute}}">  </input>
					</div>
				</div>
				<div class="col-md-12">
					<label for="observation">Observações</label>
					<textarea name = "observation" rows="3" class="form-control" ng-readonly = "true" >{{observations}}</textarea>
				</div>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" type="submit" ng-click="deleteWorklog()">Excluir</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->