<div class="modal fade" id="add-modal" ng-controller="LogWorkModalCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}} de registro de tempo trabalhado</h4>
      </div>
      <div class="modal-body" id="modalLogWork">
      		<form name="logworkModalForm" novalidate>
 			<div class="row">
 				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-if="invalidMessage !== ''">{{invalidMessage}}</div>
					<label for="date">Data</label>
		            <p class="input-group">
		              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="changed()" ng-required="true" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
				<div class="col-md-12">
					<label for="assignment-selected">Projeto</label>
					<select ng-model="assignmentSelected" class="form-control" required ng-options="a.assignment_id as a.project_name for a in assignments">
						<option value="">Selecione um projeto</option> 	
					</select>
				</div>
		        <div class="col-md-6">
					<label for="init-time">Começo</label>
					<timepicker ng-model="startTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required ></timepicker>
				</div>
				<div class="col-md-6">
					<label for="end-time">Final</label>
					<timepicker ng-model="endTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></timepicker>
				</div>
				<div class="col-md-12">
					<label for="observation">Observações</label>
					<textarea name = "observation" rows="3" class="form-control" ng-model="observation"></textarea>
				</div>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" type="submit" ng-click="newWorklog()">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->