<div class="row worklog-day" ng-repeat="day in timeBlocks">
	<div>
		<div class="col-md-2">
			<button class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			{{day.date}}
		</div>
		<div class="col-md-10">
			<ul>
				<li class="block" ng-repeat="block in day.blocks" ng-style="{'display' : 'inline-block', 'width' : block.blockWidth + '%', 'background-color' : block.color}">
					<!-- {{block.blockWidth}} -->
				</li>
			</ul>
		</div>
	</div>
</div>