.header {
	height: 55px;
	border-bottom: 1px solid #CCCCCC;
}

.notifications {
	margin-top: 30px;
}

.worklog-header {
	margin-top: 20px;
}

.worklog-day, .last-row {
	margin-top: 10px;
}

.change-day-set {
	text-align: center;
}

.change-day-set > a {
	text-decoration: none;
}

.change-day-set > a:hover {
	cursor: pointer;
}

li.block {
	border: 1px solid white;
	outline: 1px solid white;
	height: 25px;
	border-radius: 4px;
	display: inline-block;
}
li.smallBlock {
	border: 1px solid white;
	outline: 1px solid white;
	height: 15px;
	border-radius: 4px;
	display: inline-block;
}

li.transparent {
	border: 0px;
	outline: 0px;
}

li.block:hover {
	cursor: pointer;
}

li.transparent:hover {
	cursor: default;
}

.hour-header {
	text-align: center;
	background-color: gray;
	color: white;
	width: 40px;
}

.popover { 
	z-index: -1;
}

.popover.in {z-index: 2;}

.hour-header {
	display: inline-block;
	position: absolute;
}

.hour-block {
	border-left: 1px solid #CCC;
	height: 350px;
	display: inline-block;
	position: absolute;
}

.worklog {
	border: 1px solid #EEE;
	border-radius: 5px;
	padding: 20px;
	margin-top: 10px;
}

.form-control.ng-invalid {
	border-color: #A94442;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-control.ng-invalid:focus {
    border-color: #843534;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #CE8483;
}