@import "vendor/bootstrap.css";
.campo-data{
	width: 100px;
}
.float-right{
	float: right;
}
.margin-top{
	margin-top: 27px;
}
textarea { resize: vertical; }

ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

ul li { display: inline; }

.assignment-table{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

.assignment-table-color{
  background-color: #ffffff;
}