<div class="container" ng-controller="ProjectCreationController">
	<div  class="row notifications"> <!-- class="row notifications" -->
		<div  role="alert">
			<button class="btn btn-default" ng-click="voltar()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			User: {{usernameLogado}} <!-- class="alert alert-info" -->
			<label style="margin-left:150px;">Criação de Projeto</label>
			<button class="btn btn-danger float-right" ng-click="logOut()">
				<span class="glyphicon glyphicon-off"></span>
			</button>
		</div>
	</div>
	<hr>
	<div>
 		<div class="col-md-12">
			<div class="alert alert-danger" role="alert" ng-if="invalidMessage !== ''">{{invalidMessage}}</div>
        </div>
		<label for="company-selected" style="margin-left:150px;">Empresa</label><br>
		<select ng-model="selectedCompany" style="margin-left:150px;" ng-options="c as c.name for c in companies">
					
		</select>
		<br>
		<br>
		<label for="project-name" style="margin-left:150px;">Nome do Projeto</label><br>
		<input type="text" class="form-control" style="width: 241px; display: inline-block; margin-left:150px;" ng-model="chosenName" >  </input>
		<br>
		<br>
		<label for="project-name" style="margin-left:150px;">Cor do Projeto</label><br> 
		<ui-colorpicker ng-model="selectedColor" style="margin-left:150px;"></ui-colorpicker>
		<input ng-model="selectedColor">

		<br><br><br>
		<button class="btn btn-primary float-right margin-top" ng-click="createProject()"> 
			<span class="badge">
				<span class="glyphicon glyphicon-plus"></span>
			</span> Criar 
		</button>
	</div>

</div>