<div class="container" ng-controller="CalendarCreationController">
	<div  class="row notifications"> <!-- class="row notifications" -->
		<div  role="alert">
			<button class="btn btn-default" ng-click="voltar()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			User: {{usernameLogado}} <!-- class="alert alert-info" -->
			<label style="margin-left:150px;">Criação de Calendário</label>
			<button class="btn btn-danger float-right" ng-click="logOut()">
				<span class="glyphicon glyphicon-off"></span>
			</button>
		</div>
	</div>
	<hr>
	<div>
 		<div class="col-md-12">
			<div class="alert alert-danger" role="alert" ng-if="invalidMessage !== ''">{{invalidMessage}}</div>
        </div>
        <div class="col-md-6" style="margin-left:150px;">
			<label for="company-selected">Empresa</label><br>
			<select ng-model="selectedCompany" ng-options="c as c.name for c in companies" required>
				<option value="">Selecione uma empresa</option>
			</select>
			<br>
			<br>
			<label for="calendar-name">Nome do Calendário</label><br>
			<input type="text" class="form-control" style="width: 241px; display: inline-block;" ng-model="chosenName" required>  </input>
			<br>
			<br>
		</div>
		<div class="col-md-6" style="margin-left:150px;">
			<label for="project-name" >Horas de Trabalho</label><br>
			<label for="segunda-feira" >Segunda-feira</label>
			<input type="number" min="0" max="24" style="width: 50px; display: inline-block;"  ng-model="horas.segunda" required></input>
			<label for="segunda-feira" >Terça-feira</label>
			<input type="number" min="0" max="24" style="width: 50px; display: inline-block;"  ng-model="horas.terca" required></input>
			<label for="segunda-feira" >Quarta-feira</label>
			<input type="number" min="0" max="24" style="width: 50px; display: inline-block;"  ng-model="horas.quarta" required></input>
			<br>
			<br>
			<label for="segunda-feira" >Quinta-feira</label>
			<input type="number" min=4"0" max="24" style="width: 50px; display: inline-block;" ng-model="horas.quinta" required></input>
			<label for="segunda-feira" >Sexta-feira</label>
			<input type="number" min="0" max="24" style="width: 50px; display: inline-block;"  ng-model="horas.sexta" required></input>
			<label for="segunda-feira" >Sábado</label>
			<input type="number" min="0" max="24" style="width: 50px; display: inline-block;"  ng-model="horas.sabado" required></input>
			<label for="segunda-feira" >Domingo</label>
			<input type="number" min="0" max="24" style="width: 50px; display: inline-block;"  ng-model="horas.domingo" required></input>
		</div>
		<br>
		<br>		
		<div class="col-md-6" style="margin-left:150px;">
			<label for="observation">Observações</label>
			<textarea name = "observation" rows="3" class="form-control" ng-model="observation"></textarea>
		</div>
		<br><br><br>
		<button class="btn btn-primary float-right margin-top" ng-click="createCalendar()"> 
			<span class="badge">
				<span class="glyphicon glyphicon-plus"></span>
			</span> Criar 
		</button>
	</div>

</div>