<div class="container" ng-controller="AssignmentCreationController">
	<div  class="row notifications"> <!-- class="row notifications" -->
		<div  role="alert">
			<button class="btn btn-default" ng-click="voltar()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			User: {{usernameLogado}} <!-- class="alert alert-info" -->
			<label style="margin-left:150px;">Criação de Assignment</label>
			<button class="btn btn-danger float-right" ng-click="logOut()">
				<span class="glyphicon glyphicon-off"></span>
			</button>
		</div>
	</div>
	<hr>
	<div>
		</select>
 			<div class="row">
 				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-if="invalidMessage !== ''">{{invalidMessage}}</div>
		        </div>
		        	<div class="col-md-3">
						<label for="projeto-selected">Projeto</label><br>
						<select ng-model="projetoSelected" ng-options="a as a.project_name for a in projetos" ng-change="loadUsersFromProject()">
							<option value="">Selecione um projeto</option>
						</select>
					</div>

					<div class="col-md-3">
						<label for="user-selected">Pessoa</label><br>
						<select ng-model="funcionarioSelected" ng-options="o as o.name for o in opcoesFuncionarios">
							<option value="">Selecione um funcionário</option>
						</select>
					</div>

					<div class="col-md-3">
						<label for="role-selected" >Role</label><br>
						<select ng-model="roleSelected" ng-options="r as r for r in roles">
							<option value="">Selecione um cargo</option>
						</select>
						<button class="btn btn-primary" style="margin-left:30px;" ng-click="add()"> 
							<span class="badge">
								<span class="glyphicon glyphicon-plus"></span>
							</span> 
						</button>
					</div>
						<button class="btn btn-primary float-right margin-top" ng-click="createAssignment()"> 
							Salvar 
						</button>


			</div>
			<div class="col-md-9">
				<label for="assignments-to-be-created">Assignments</label><br>
				<table class="assignment-table">
					<tr ng-repeat="a in assignments" class="assignment-table-color">
						<td class="assignment-table">{{a.pessoa.name}}</td>
						<td class="assignment-table">{{a.role}}</td>
						<td class="assignment-table">{{a.projeto.project_name}}</td>
						<td class="assignment-table">
							<button class="btn btn-danger" style="size: 10px;" ng-click="remove(assignments.indexOf(a))"> 
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>
				</table>

			</div>
	</div>

</div>