<div class="container-fluid bodyStyle custom-height">
	<div class="row ">
		<div class="col-sm-6 col-md-4 col-md-offset-4 login-box" ng-controller="LoginController">
			<h1 class="text-center login-title">Bem-vindo(a) ao Freeshift</h1>
			<div class="account-wall">
				<form class="form-signin">
					<div ng-show="invalidLogin" class="alert alert-danger text-center" role="alert" >Usuário ou senha inválidos</div> 
					<label class="user-pass">Usuário </label> 
				<input type="text" class="form-control"  required autofocus ng-model="attemptLogin.username">
				<label class="user-pass">Senha</label> 
				<input type="password" class="form-control" required  ng-model="attemptLogin.password">
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="doLogin()">Login</button>
				</form>
			</div>
			</div>
		</div>
	</div>
</div>